header {
   
    height: 150px;
    background-color: rgb(233, 233, 233);
    text-align: center;
    padding: 10px;
    position: block;
}

.god {
    margin: 0 auto;
    width: 80%;
    height: 100%;
    border: 2px solid red;
    position: absolute;
    content: "";
    clear: both;
    display: table;
    margin-bottom: 12%;
    margin-top: 2%;
    
}

nav {
    height: 150px;
    background-color: rgb(233, 233, 233);
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: block;
} 

.footer {
    height: 90px;
    background-color: rgb(233, 233, 233);
    text-align: center;
    padding: 10px;
    margin-top: 350px;
   
   
} 

/* .con  {
 width: 80%;
 margin: 0 10% 20% 10%;

} */

body {
    background-color: gray;
    margin-left: 10%;
    margin-right: 10%
}


.parent-div {
    margin: 0 auto;
    width: 100%;
    border: 1px solid orange;
    position: absolute;
}

.child-div {
    margin: 0 auto;
    width: 48%;
    border: 2px solid blue;
    background-color: rgb(233, 233, 233);
    float: left;
    position: relative;

   
}

.child-div1 {
    margin: 0 auto;
    width: 48%;
    height: 295px;
    border: 2px solid blue;
    background-color: rgb(233, 233, 233);
    float: right;
    position: relative;
}

.article {
    margin: 0 auto;
    width: 80%;
    border: 2px solid blue;
    background-color: gray;
    padding: 0 10px 10px 0;
    margin-bottom: 20px;
    position: relative;
    color: white;
    font-family: sans-serif;
    text-align: center;
    
}

.h123 {
    margin: 10px auto;
    padding: 10px auto;
    width: 80%;
    border: 2px solid green;
    position: relative;
    background-color: rgb(233, 233, 233);
}

.p {
    margin: 0 auto;
    width: 80%;
    border: 2px solid rgb(205, 95, 219);
    position: relative;
    background-color: rgb(233, 233, 233);

}

h3 {
    text-align: center;
    font-family: sans-serif;
    color:darkgray;
}




/* .section {
    width: 48%;
    height: 350px;
    background-color: lightgray;
    margin: 5px;
    position: relative;

} */

/* .section1 {
    width: 48%;
    height: 350px;
    background-color: lightgray;
    margin: 5px;
    float: right;
    position: relative;
    float: right;
}

.article {
    width: 100%;
    position: absolute;
    width: 80%;
    height: 80%;
    background-color: darkgray;
    padding-top: 20px;
    margin-top: 20px;
    margin-right: 10%;
    margin-left: 10%;
   
   
}

.h2 {
    position: relative;
    width: 80%;
    height: 20px;
    background-color: green;
    padding-top: 70px;
    margin-top: 20px;
    margin-right: 10%;
    margin-left: 10%;
    padding-bottom: 10px;
    
}


p {
    position: absolute;
    width: 80%;
    height: 30px;
    background-color: red;
    padding-top: 20px;
    margin-top: 5px;
    margin-right: 10%;
    margin-left: 10%;
    
}





/* 
nav {
    width: 100%;
    height: 150px;
    background-color: lightgray;
    text-align: center;
    padding: 10px;
    vertical-align: middle;
    margin-bottom: 20px;
}

aside {
    float: right;
    width: 40%;
    height: 250px;
    background-color: lightgray;
    margin: 10px;
    
}

.section1 {
    float: left;
    width: 55%;
    height: 250px;
    background-color: lightgray;
    margin: 10px;
    position: relative;
}

.container {
margin-left: 10%;
margin-right: 10%;

}

footer {
    width: 100%;
    height: 150px;
    background-color: lightgray;
    text-align: center;
    padding: 10px;
    vertical-align: middle;
    margin-bottom: 20px;
    overflow: auto;
    margin-bottom: 20%;
}

row {
    width: 100%;
}


article {
    width: 20%;
    height: 150px;
    background-color: green;
    padding: 10px;
    position: relative;

}

h2 {
    position: relative;
    width: 20%;
    height: 30px;
    background-color: red;
    padding-top: 20px;
    margin-top: 20px;
}

p {
    position: relative;
    width: 20%;
    height: 30px;
    background-color: rgb(0, 68, 255);
    padding-top: 20px;
    margin-top: 20px;
} */

